<html>
    <head>
        <meta charset="utf-8" />
        <title>self-informatoin update</title>
    </head>
    <body>
        <form action="XXX.php" method="get">
            academy:<input type="text" name="academy" value="your academy" /><br />
            information:<input type="text" name="info" value="introduce yourself" /><br />
            name:<input type="text" name="name" value="your name" /><br />
            url:<input type="text" name="url" value="your personal homepage"><br />
            photo:<input type="file" name="photo" /><br />
            <input type="submit" value="submit" />
            <input type="reset" value="reset" />
        </form>
    </body>
</html>